*{
    margin: 0px;
    padding: 0px;
}
/* header related style */

.header{
    background-color:#eb708b ;
  
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile-pic{
    width: 635px;
    height: 800px;
}